<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033349410129-97qql5amkh0o06ad8942or59gj1nhtui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033349410129-97qql5amkh0o06ad8942or59gj1nhtui</string>
	<key>API_KEY</key>
	<string>AIzaSyCgCMZYEpc3GVFzfTGB0iBFkxMcnSWlcRc</string>
	<key>GCM_SENDER_ID</key>
	<string>1033349410129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xevo.ashish.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>fall2020-6611b</string>
	<key>STORAGE_BUCKET</key>
	<string>fall2020-6611b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033349410129:ios:c5b709ba6d2e1141457770</string>
	<key>DATABASE_URL</key>
	<string>https://fall2020-6611b.firebaseio.com</string>
</dict>
</plist>